
body{
  margin: 0;
  text-align: center;


}
.top-container{
  background-color: #EAF6F6;
  position:relative;
    padding-top: 100px;

}
h1
{
  margin: 20px auto 20px auto;
  font-family: Dancing Script,fantasy;
  font-size: 5.625rem;
  color:#66BFBF;
}
h2{
  font-family: Alkalami,sans-serif;
  font-size:2.5rem;
  color:#66BFBF;
  font-weight:normal;
}
h3{
    font-family: Alkalami,sans-serif;
     color:#66BFBF;
}
a{
  color: #11999E
}

.top-cloud{
  position: absolute;
  right:300px;
  top: 50px;

}
P{
  color: #40514E;
  font-weight: 500;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;

}
.STEPHAN{
  height: 200px;
  width: 200px;
  margin-top: 40PX;
}
.skill{
  height: 200px;
  width: 200px;

}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px;

}
.footer-link{
  margin-left: 5px;
  font-size: 20px;
}
.skill-row{

  width: 50%;
  margin: auto;
  line-height: 2;
}
.hand{
  height: 200px;
  width: 200px;

}
.STEPHAN{
  height: 200px;
  width: 200px;
  position: relative;
  top:10px;

}
.last{
  color: #EAF6F6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  width: 5%;
  border-width: 5px;
}
